[run]
source = .
omit =
    */migrations/*
    */tests/*
    */__pycache__/*
    manage.py
    main/asgi.py
    main/wsgi.py
    main/celery.py
    .venv/*

[report]
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
