.git
.gitignore
.gitattributes

.venv
venv
env
ENV

__pycache__
*.py[cod]
*$py.class
*.so
*.egg-info
.eggs
dist
build
.pytest_cache
.mypy_cache
.coverage
.coverage.*
htmlcov
.tox
.nox
.hypothesis
.cache

.env
.env.*
!.env.*.example

media
media/
staticfiles
staticfiles/
logs
logs/

*.sqlite3
db.sqlite3
celerybeat-schedule
celerybeat.pid

.idea
.vscode
.cursor
.qodo
*.swp
*.swo
.DS_Store

Pipfile
Pipfile.lock

shared_docs
tests
**/tests

docs
*.md
!README.md
